<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <application>
    <service android:name="com.ingageco.capacitormusiccontrols.MusicControlsNotificationKiller"
      android:stopWithTask="true" android:foregroundServiceType="mediaPlayback" />
  </application>
</manifest>
  